/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
    background: linear-gradient(90deg, #010d2e 0%, #3e2e69 100%);
    font-display: initial;
  }

  .text-custom {
        color: #3048A6;
      opacity: 1;
  }

  .fontAppear {
    font-family: 'Source Sans Pro', sans-serif;
  }

  .profileImage {
    width: 179px;
    height: 179px;
  }

  nav.scrolled {
    @apply shadow-2xl;
    border-bottom: 0px;
    background-color: aliceblue;
}